@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a asp-page="KeyVault">KeyVault value</a>
    </p>
    <p>
        <a asp-page="KeyVaultReference">KeyVault with reference value</a>
    </p>
</div>
